@charset "utf-8";
img {
	width:100%;
}
  .inform2{
    position: relative;
    letter-spacing: -1px;
  }
  .txt2 {
    width:36.4%;
    position: absolute;
    top:23.7%;
    right: 31.7%;
    font-family: 'Noto Sans KR', sans-serif;

  }
  .txt2 > h3 {
    font-size:38px;
    line-height: 1.25;
    margin-bottom:24px;
    font-weight: 500;
  }
  .txt2 > ul {
    padding:13px 0 40px;
  }
  .txt2  h4 {
    font-size:15px;
    padding-bottom:14px;
    margin-bottom: 12px;
    border-bottom: 3px solid #222;
    line-height: 1.25;
    font-weight: 500;
  }
  .txt2  li {
    font-size:15px;
    display: inline-block;
    width:29%;
    vertical-align: top;
    margin-left:5.85%;
  }
  .txt2 li:first-child {
    margin-left:0;
  }
  .txt2 > p {
    font-size:18px;
    line-height: 170%;
  }

  input[type="radio"] {
        display: none;
      }
      input[type="radio"] + label {
        cursor: pointer;
        position:absolute;
        width:11%;
        height: 58px;
        text-align: left;
        line-height: 58px;
        padding:0 2%;
        color:#fff;
        font-size:15px;
        border-radius:3px;
        background-color: #b4b3b3;
        
      }
      input[id="pc_bt"] + label[for="pc_bt"] {
        right: 50.9%;
        top: 2.06%;
      }
      input[id="mb_bt"] + label[for="mb_bt"] {
        left: 60%;
        top: 2.06%;
        transform: translate(-60%, -2.06%);
      }
      input[id="pc_bt"]:checked ~ .bt_con1 {
        display: block;
      }
      input[id="mb_bt"]:checked ~ .bt_con2 {
        display: block;
      }

      .change_wrap {
        position: relative;
       max-width:1920px;
       margin:0 auto;
      }
      .bt_con {
        display: none; /*삭제놉*/
      }

      .change_wrap > label > img{
        width:auto;
        margin-top:19px;
        float: right;
      }